@font-face {
    font-family: "Font Digital";
    src: url(Poppins-Regular.ttf);
}

@font-face {
    font-family: "poppins bold";
    src: url(Poppins-Bold.ttf);
}

body {
    margin: 0;
    padding: 0;
    font-family: "Font Digital";
}

.gambar{
    width: 100%;
    height: 100vh;  
    background-size: cover;
}

#navbar{
    position: absolute;
    width: 100%;
    height: 50%; 
    top: 0px;
}

header{
    width: 100%;
    height: 11%;
    position: fixed;
    top: 0;
    left: 0;
    transition: background-color .5s ease;
    z-index: 1000;
    background-color: #4e85e3;
}

#logo{
    width: 20%;
    padding-top: 10px;
    padding-left: 10px;
}

#navbar1{
    display: flex;
    width: 100%;
}

.anavbar{
    text-decoration: none;
    font-size: 2.5vh;
    color: #FFFF;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 30px;
    margin-top: -3.5%;
}

.anavbar:focus{
    text-decoration: underline;
}

#beranda {
    margin-left: 57%;
}

.login {
    background-color: #FCC453;
    width: 10%;
    height: 5.5vh;
    border-radius: 50px;
    margin-top: -3%;
    margin-left: 2%;
    font-size: 2.5vh;
    font-family: "Font Digital";
    border-radius: 40px;
    outline: none;
    border-width: 0px;
    color: white;
}

#tulis{
    font-family: "Font Digital";
    text-align: center;
    padding-bottom: 6vh;
}

#judul1{
    color: #FCC453;
    font-size: 6vh;
    margin-top: 6%;
}

#isideskripsi{
    display: flex;
}

#posterdeskripsi{
    margin-top: -65px;
    border-radius: 50px;
    box-shadow: 0px 0px 15px #C4C4C4;
    width: 300px;
    height: 420px;
    margin-left: 32%;
}

#posterdeskripsi:hover{
    box-shadow: 0px 0px 10px #4e85e3;
}

.pertanyaan{
    margin-left: 5%;
    margin-top: -1%;
    width: 920px;
}

.tanya1,.tanya2,.tanya3{
    display: flex;
    margin-left: 15%;
    margin-top: -55px;
}

.tanya2,.tanya3{
    margin-top: -1%;
}

.tanyanya{
    margin-left: 2%;
}

.judultanya{
    display: flex;
    margin-top: -1.2%;
}

.iconnya{
    width: 50px;
    height: 50px;
}

.judulnya{
    color: #4E85E3;
    font-size: 20px;
}

#judulnya1{
    width: 350px;
}

#judulnya2{
    width: 430px;
}

#judulnya3{
    width: 340px;
}

#garis1{
    background-color: #4e85e3;
    width: 380px;
    height: 1px;
    margin-top: 34px;
    margin-left: -10px;
}

#garis2{
    background-color: #4e85e3;
    width: 300px;
    height: 1px;
    margin-top: 34px;
    margin-left: -10px;
}

.jawabtanya{
    color: #A1A2A5;
    width: 720px;
    font-size: 17px;
    margin-top: -10px;
}

#garis3{
    background-color: #4e85e3;
    width: 390px;
    height: 1px;
    margin-top: 34px;
    margin-left: -10px;
}

#garisrentang{
    background-color: #A1A2A5;
    width: 720px;
    height: 2px;
    margin-top: 15px;
}

#rentang{
    display: flex;
}

.rentang{
    background-color: #FCC453;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    margin-top: -12px;
    margin-left: 18%;
}

#tanggalatas,#tanggalbawah{
    display: flex;
}

.tanggal1,.tanggal2{
    color: #A1A2A5;
    font-size: 17px;
}

.tanggal1{
    margin-top: -47px;
}

#tanggalawal{
    margin-left: 34%;
}

#tanggalnext{
    margin-left: 28%;
}

#tanggalawal1{
    margin-left: 13%;
}

#tanggalnext1{
    margin-left: 30%;
}

#daffav{
    display: flex;
    margin-top: 2%;
}

#daftarya{
    background-color: #FCC453;
    color: white;
    font-family: "Font Digital";
    border: none;
    width: 200px;
    height: 30px;
    border-radius: 30px;
    font-size: 15px;
    margin-left: 67%;
    outline: none;
}

#daftarya:hover{
    background-color: #4E85E3;
}

#favoritnya{
    background-color: white;
    border: 2px solid #4E85E3;
    color: #4E85E3;
    width: 100px;
    border-radius: 30px;
    margin-left: 3%;
    font-family: "Font Digital";
    font-size: 15px;
    outline: none;
}

#favoritnya:hover{
    background-color:  #4E85E3;
    color: white;
}