@font-face {
    font-family: "poppins";
    src: url(Poppins-Regular.ttf);
}

@font-face {
    font-family: "poppins bold";
    src: url(Poppins-Bold.ttf);
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "poppins";
}

nav{
    display: flex;
    background-color: #4E85E3;
    justify-content: space-around;
    box-shadow: 0px 0px 6px 0px black;
    position: fixed;
    width: 100%;
    z-index: 1;
}

#logo{
    width: 80%;
    padding: 5px;
    margin-left: -42%;
    margin-top: 5px;
}

nav ul{
    display: flex;
    margin-top: 18px;
    list-style: none;
    justify-content: space-between;
    width: 40%;
    margin-right: -30%;
}

nav ul li a{
    color: white;
    text-decoration: none;
}

nav ul li a:hover{
    color: #2756a8;
}

.btn {
    outline: none;
    border-width: 0px;
    font-family: "poppins";
    color: white;
    background-color: #FCC453;
    width: 118%;
    height: 5.5vh;
    border-radius: 50px;
    font-size: 2vh;
    padding: 5px;
    margin-top: -5px;
}

.btn:hover{
    background-color: #98BEFF;
}

.btn:focus {
    background-color: #275bb6;
}

.toogle {
    display: flex;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    margin-top: 20px;
}

#st{
    transform-origin: 0 0;
} 

#rd {
    transform-origin: 0 100%;
}

.toogle span {
    z-index: -1;
    display: none;
    width: 28px;
    height: 3px;
    border-radius: 15px;
    background-color: white;
    transition: all 0.5s;
}

#st, #rd{
    transform-origin : 0 0;
}

.fav {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    border-radius: 20px;
    top: 90px;
    left: 17px;
    position: absolute;
    width: 130px;
    height: 40px;
    font-size: 16px;
    font-family: "poppins";
    margin-bottom: -5px;
}

#fav2 {
    border-radius: 30px;
    display: none;
    width: 50px;
    height: 50px;
}

.fav:focus {
    background-color: #FCC453;
    outline: none;
    border: 2px solid transparent;
}

.fav:hover{
    background-color: #FCC453;
}

.main1 {
    background-image: url(Group\ 199.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

.main1 {
    padding-top: 10%;
}

.main1 p {
    text-align: center;
    font-size: 18px;
    color: white;
    margin-top: 2%;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.main1 h1 {
    font-family: "poppins bold";
    color: #FCC453;
    font-size: 50px;
    margin-left: 13%;
}

.iconx1 {
    display: flex;
    flex-wrap: wrap;
    margin-top: 7%;
    justify-content: space-around;
}

.icon_teks {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
}

#t {
    font-size: 19px;
    color: #FCC453;
}

#capt1 {
    font-size: 18px;
    color: #4E85E3;
}

.main2 {
    margin-top: 8%;
}

.main2 h1 {
    font-family: "poppins bold";
    font-size: 40px;
    color: #FCC453;
    margin-left: 2%;
    margin-bottom: 2%;
}

.main_a {
    background-color: #70a5ff;
}

.col-12-tabel {
    font-size: 16px;
    text-align: left;
    border-collapse: collapse;
    border: 1px solid transparent;
    height: 100px;
}

.col-12-tabel tr {
    height: 150px;
}

.icon2 {
    margin-left: 10%;
    padding-left: 30px;
    size: 5%;
}

.teksx2 {
    padding-left: 28px;
    color: white;
    padding-bottom: 10px;
}

#tengah {
    color: white;
    font-size: 17px;
}

#teks2 {
    color: #275bb6;
    font-size: 17px;
}

.col-12-tabel tr:nth-child(even) {
    background-color: #4E85E3;
}

.main3 {
    margin-top: 8%;
}

.main_b {
    display: flex;
}

.main3 h1 {
    font-family: "poppins bold";
    font-size: 40px;
    color: #FCC453;
    margin-left: 2%;
    margin-bottom: 5%;
}

.bg {
    background-color: #fccf77;
    width: 455px;
    height: 300px;
}

#no2 {
    background-color: #FCC453;
}

.icon3 {
    margin-top: -9%;
    margin-left: 40%;
}

.bg p {
    text-align: center;
    margin-top: 2%;
    color: white;
    font-size: 17px;
    margin-left: 5%;
    margin-right: 5%;
}

.main4 {
    margin-top:8%;
}

.main4 h1{
    font-family: "poppins bold";
    color: #FCC453;
    margin-left: 2%;
    margin-bottom: 2%;
    font-size: 40px;
}

.isiskill{
    display: flex;
    justify-content: space-evenly;
}

.catatan{
    background-color: #F1F3F9;
    box-shadow: 0px 0px 5px #CACED6;
    width: 20%;
    border-radius: 30px;
    padding-bottom: 1.7%;
    padding-top: 1.7%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.catatan:hover{
    box-shadow: 0px 0px 5px #4E85E3;
}

#gambarcatatan{
    height: 100px;
    width: 100px;
    margin-bottom: 2%;
}

#catatantulis{
    color: #A1A2A5;
    text-align: center;
    width: 73%;
}

.skill1,.skill2,.skill3,.skill4,.skill5{
    display: flex;
    margin-top: 6%;
}

#gambarskill1{
    height: 70px;
    width: 70px;
}

.tulisskill{
    margin-left: 5%;
    width: 350px;
}

#judullist{
    color: #4E85E3;
    font-size: 20px;
}

#isilist{
    color: #A1A2A5;
    font-size: 16px;
}

.persiapkan,.selamat{
    background-color: #F1F3F9;
    box-shadow: 0px 0px 5px #CACED6;
    width: 400px;
    height: 70px;
    border-radius: 25px;
}

.persiapkan:hover, .selamat:hover{
    box-shadow: 0px 0px 5px #4E85E3;
}

#persiapkantulis,#selamattulis{
    color: #A1A2A5;
    text-align: center;
    font-size: 20px;
    padding-top: 20px;
}

#persiapkantulis{
    margin-top: 10%;
}

#selamattulis{
    margin-top: 5%;
}

.main5 {
    margin-top: 8%;
}

.main5 h1 {
    font-family: "poppins bold";
    font-size: 40px;
    color: #FCC453;
    margin-left: 2%;
    margin-bottom: 2%;
}

.main_c {
    background-color: #FCC453;
}

.col-12-tabel1 {
    font-size: 16px;
    text-align: left;
    border-collapse: collapse;
    border: 1px solid transparent;
}

.col-12-tabel1 tr {
    height: 100px;
}

.icon5 {
    padding-left: 2%;
    size: 5%;
}

.teksx5 {
    padding-left: 2%;
    color: white;
}

#teks5 {
    color: #4E85E3;
    font-size: 17px;
}

.btn5 {
    border-radius: 40px;
    outline: none;
    border-width: 0px;
    font-family: "poppins";
    color: white;
}

#daftar {
    margin-left: 40%;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: #4E85E3;
    font-size: 18px;
    width: 17%;
    padding-bottom: 0.75%;
    padding-top: 0.75%;
}

#daftar:hover{
    background-color: #98BEFF;
}

#daftar:focus {
    background-color: #2756a8;
}

.col-12-tabel1 tr:nth-child(even) {
    background-color: #fccf77;
}

.main6 {
    margin-top: 8%;
}

.main6 h1{
    font-family: "poppins bold";
    color: #FCC453;
    margin-left: 2%;
    margin-top: 6%;
    font-size: 40px;
    margin-bottom: 2%;
}

.lataralur{
    display: flex;
}

.lataralur1{
    width: 50%;
    background-color: #679BF4;
    height: 380px;
    padding-top: 2%;
}

.lataralur2{
    width: 50%;
    background-color: #98BEFF;
    height: 391px;
    padding-top: 1.2%;
}

.alur1,.alur2,.alur3,.alur4,.alur5,.alur6{
    display: flex;
    margin-top: 4%;
}

.alur1,.alur2,.alur3{
    margin-left: 18%;
}

.alur4,.alur5,.alur6{
    margin-left: 20%;
}

.alur2,.alur3{
    margin-top: 4%;
}

.alur5,.alur6{
    margin-top: 1%;
}

#gambaralur{
    height: 70px;
    width: 70px;
}

.tulisalur{
    margin-left: 6%;
    width: 610px;
}

#judullist123,#judullist456{
    font-size: 20px;
}

#judullist123{
    color: #ffffff;
}

#judullist456{
    color: #4E85E3;
}

#isilist123,#isilist456{
    color: #ffffff;
    font-size: 16px;
}

.ucapan {
    margin-top: 3%;
    font-family: "poppins bold";
    color: #FCC453;
    font-size: 20px;
    text-align: center;
}

.footer {
    background-size: 100%;
    margin-top: 3%;
    background-color: #5167aa;
    width: 1349px;
}

.col-12-footer2 {
    display: flex;
}

.emailtk, .telptk, .lokasitk {
    display: flex;
    color: white;
    padding-top: 2%;
}

#icon6 {
    width: 25px;
    height: 25px;
    margin-top: 1.2%;
    margin-right: 2%;
}

.col-12-footer2{
    background-color: #5167aa;
    display: flex;
    justify-content: space-around;
}

.tentangkami,.sosialmedia,.populer,.terbaru,.kontakkami{
    color: white;
}

.tentangkami,.sosialmedia,.populer,.terbaru{
    margin-top: 1.3%;
}

.judulfooter{
    font-size: 15px;
    color: white;
}

.hrfooter2, .hrfooter3{
    width: 250px;   
}

.emailtk,.telptk,.lokasitk{
    display: flex;
}

#emailtk,#telptk,#lokasitk{
    height: 25px;
    width: 25px;
}

#pemailtk,#ptelptk,#plokasitk,#ppopulertk{
    font-size: 12px;
}

.hrfooter3, .hrfooter2{
    margin-bottom: 2%;
}

#edit{
    font-size: 12px;
}

#edit, #pterbarutk {
    font-size: 12px;
    margin-bottom: 2%;
}

.sosmedfooter{
    display: flex;
    justify-content: space-between;
    width: 45%;
    margin-top: 3%;
    margin-bottom: 5%;
}

.imgsosmedfooter{
    width: 27px;
}

#inputfooter{
    font-family: "poppins";
    padding-left: 20px;
    color:#CACED6;
    outline: none;
    border: none;
    border-radius: 50px;
    width: 225px;
    height: 30px;
    margin-top: 5%;
}

.col-12-lastfooter{
    background-color: #4E85E3;
    width: 100%;
}

@media (max-width:576px){

    #logo {
        margin-top: 5px;
        width: 70%;
        margin-left: 2%;
    }

    .toogle {
        margin-top: 20px;
        margin-right: 12px;
    }
    
    .toogle span {
        display: block;
    }

    nav ul{
        right: 0px;
        position: absolute;
        flex-direction: column;
        background-color: #4E85E3;
        top: 0;
        height: 50vh;
        width: 65%;
        margin-right: -3%;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 15%;
        z-index: -1;
        padding-bottom: 80%;
        transform: translateX(100%);
        transition: all 1s;
    }

    .slide {
        transform: translateX(0);
        transition: all 1s;
    }
    
    #menu {
        font-size: 15px; 
    }
    
    .btn {
        height: 5.5vh;
        width: 24vh;
        font-size: 14px;
        padding: 2px;
    }

    #fav1 {
        display: none;
    }

    #fav2 {
        display: block;
        background-color: #4E85E3;
        border: none;
        position: fixed;
        font-size: 30px;
        top: 90%;
        left: 82%;
        box-shadow: 0px 0px 2px 0px black;
    }

    .main1 {
        background-size: 180%;
    }
    
    .main1 {
        padding-top: 23%;
    }
    
    .main1 p {
        text-align: left;
        font-size: 14px;
        color: #A1A2A5;
        margin-top: 8%
    }
    
    .main1 h1 {
        font-family: "poppins bold";
        color: #FCC453;
        font-size: 30px;
        margin-left: 13%;
    }

    #icon1x {
        width: 50px;
        height: 50px;
        margin-left: -50%;
    }

    .iconx1 {
        margin-left: 18%;
    }
    
    .icon_teks {
        margin-top: 10%;
        width: 50%;
        height: 100px;
        text-align: center;
    }
    
    #t {
        font-size: 14px;
    }
    
    #capt1 {
        font-size: 13px;
    }
    
    .main2 {
        margin-top: 18%;
    }
    
    .main2 h1 {
        font-size: 30px;
        margin-left: 6.5%;
        margin-bottom: 2%;
    }
    
    .col-12-tabel {
        font-size: 13px;
        border-collapse: collapse;
        border: 1px solid transparent;
        height: 100px;
    }
    
    .col-12-tabel tr {
        height: 150px;
    }
    
    .icon2 {
        padding-left: 5%;
        padding-right: 0;
    }

    #icon2 {
        width: 50px;
        height: 50px;
    }
    
    .teksx2 {
        padding-left: 4%;
        padding-right: 4%;
        padding-bottom: 10px;
    }
    
    #tengah {
        font-size: 15px;
    }
    
    #teks2 {
        font-size: 15px;
    }
    
    .col-12-tabel tr:nth-child(even) {
        background-color: #4E85E3;
    }
    
    .main3 {
        margin-top: 18%;
    }
    
    .main_b {
        display: flex;
        flex-direction: column;
    }
    
    .main3 h1 {
        font-size: 30px;
        margin-bottom: 10%;
        margin-left: 6%;
    }
    
    .bg {
        width: 100%;
        height: 140px;
    }
    
    .icon3 {
        margin-top: -7%;
        margin-left: 45%;
        width: 50px;
        height: 50px;
    }
    
    .bg p {
        font-size: 13px;
    }
    
    .main4 {
        margin-top:18%;
    }
    
    .main4 h1{
        text-align: center;
        margin-left: 4.5%;
        margin-bottom: 2%;
        font-size: 30px;
    }
    
    .isiskill{
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
    }
    
    .catatan, .selamat, .persiapkan{
        display: none;
    }
    
    #gambarskill1{
        height: 50px;
        width: 50px;
        margin-left: 5%;
    }
    
    #judullist{
        font-size: 15px;
    }
    
    #isilist{
        font-size: 13px;
    }
    
    .main5 {
        margin-top: 18%;
    }
    
    .main5 h1 {
        font-size: 30px;
        margin-left: 25%;
    }
    
    .col-12-tabel1 {
        font-size: 13px;
    }
    
    .col-12-tabel1 tr {
        height: 100px;
    }
    
    .icon5 {
        padding-left: 2%;
    }

    #icon5 {
        width: 50px;
        height: 50px;
    }

    .col-12-tabel1 p {
        padding-top: 2%;
        padding-bottom: 2%;
    }
    
    #teks5 {
        font-size: 15px;
    }
    
    #daftar {
        margin-left: 28%;
        margin-top: 5%;
        font-size: 15px;
        width: 45%;
        padding-bottom: 2%;
        padding-top: 2%;
    }
    
    .main6 {
        margin-top: 18%;
    }
    
    .main6 h1{
        text-align: center;
        margin-left: 4%;
        margin-top: 6%;
        font-size: 30px;
    }
    
    .lataralur{
        flex-direction: column;
    }
    
    .lataralur1, .lataralur2{
        width: 100%;
        background-color: #98BEFF;
        height: 60%;
    }

    .lataralur1{
    }
    
    .alur1,.alur2,.alur3 {
        margin-top: 4%;
    }
    
    .alur4,.alur5,.alur6{
        margin-bottom: 4%;
    }
    
    .alur1,.alur2,.alur3,.alur4,.alur5,.alur6{
        margin-left: 5%;
    }
    
    #gambaralur{
        height: 50px;
        width: 50px;
    }
    
    #judullist123, #judullist456{
        font-size: 15px;
    }
    
    #isilist123,#isilist456{
        font-size: 13px;
    }
    
    .ucapan {
        margin-top: 10%;
        font-size: 15px;
        text-align: center;
    }

    .footer{
        margin-top: 10%;
        width: 94%;
    }

    .footer hr {
        width: 100%;
    }

    .col-12-footer2 {
        justify-content: unset;
    }

    .tentangkami, .sosialmedia{
        margin-left: 5%;
    }

    .judulfooter{
        font-size: 13px;
        text-align: center;
    }

    #pemailtk, #ptelptk, #plokasitk {
        font-size: 11px;
    }

    #inputfooter{
        width: 130px;
        font-size: 10px;
    }

    #icon6 {
        width: 20px;
        height: 20px;
    }

    #icon1, .imgsosmedfooter {
        width: 20px;
        height: 20px;
    }

    .footer, .lastfooter {
        padding-right: 6%;
    }
    
    .terbaru, .populer{
        display: none;
    }

    .col-12-lastfooter {
        width: 106%;
    }
}