@font-face {
    font-family: "Font Digital";
    src: url(Poppins-Regular.ttf);
}

@font-face {
    font-family: "poppins bold";
    src: url(Poppins-Bold.ttf);
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

.aktif{
    background-color: #4e85e3;
    box-shadow: 0px 0px 8px black;
}

.aktif .btn{
    background-color: #FCC453;
}

.btn:hover{
    background-color: #98BEFF;
}

.btn:focus {
    background-color: #275bb6;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Font Digital";
}

nav{
    display: flex;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    transition: background-color .5s ease;
    z-index: 1000;
}

#logo{
    width: 80%;
    padding: 5px;
    margin-left: -40%;
    margin-top: 5px;
}

.gambar{
    width: 100%;
    height: 100vh;  
    background-size: cover;
}

.gambar2{
    display: none;
}

.gambar3{
    display: none;
}

nav ul{
    display: flex;
    margin-top: 18px;
    list-style: none;
    justify-content: space-between;
    width: 40%;
    margin-right: -28%;
}

nav ul li a{
    color: white;
    text-decoration: none;
}

nav ul li a:hover{
    color: #2756a8;
}

.btn {
    outline: none;
    border-width: 0px;
    font-family: "Font Digital";
    color: white;
    background-color: #4E85E3;
    width: 118%;
    height: 5.5vh;
    border-radius: 50px;
    font-size: 2vh;
    padding: 5px;
    margin-top: -5px;
}

.btn:hover{
    background-color: #98BEFF;
}

.btn:focus {
    background-color: #275bb6;
}

.toogle {
    display: flex;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    margin-top: 20px;
}

.toogle input{
    width: 30px;
    height: 30px;
    position: absolute;
    opacity: 0;
}
#st{
    transform-origin: 0 0;
} 

#rd {
    transform-origin: 0 100%;
}

.toogle input:checked ~ #st{
    transform: rotate(45deg) translate(-1.5px, -1.5px);
}

.toogle input:checked ~ #nd{
    display: none;
}

.toogle input:checked ~ #rd{
    transform: rotate(-45deg) translate(-1.5px, -0.5px);
}

.toogle span {
    z-index: -1;
    position: relative;
    display: none;
    width: 28px;
    height: 3px;
    border-radius: 15px;
    background-color: white;
    transition: all 0.5s;
}

#st, #rd{
    transform-origin : 0 0;
}

#welkam {
    top: 140px;
    left: 50px;
    position: absolute;
}

#judul {
    font-family: "poppins bold";
    color: white;
    font-size: 53px;
    padding-bottom: -10px;
    margin-bottom: -10px;
}

#teks {
    margin-top: -10px;
    padding-top: -10px;
    padding: 5px;
    color: white;
    font-size: 17px;
    width:630px;
}

#btn {
    background-color: #FCC453;
    border-radius: 40px;
    outline: none;
    width: 250px;
    height: 53px;
    font-size: 17px;
    color: white;
    border: none;
    font-family: "Font Digital";
}

#btn:hover {
    background-color: #98BEFF;
}

#btn:focus{
    background-color: #275bb6;
}

#tulis{
    font-family: "Font Digital";
    text-align: center;
    padding-bottom: 6vh;
}

#judul1{
    color: #FCC453;
    font-size: 40px;
    font-family: "poppins bold";
}

.isi{
    color: #83858B;
    margin-top: -1.2%;
}

#seminar{
    height:76vh;
    display: flex;
    background-color: #F1F3F9;
}

.next{
    height: 10%;
    margin-top: 17%;
    margin-left: 2%;
}

.listseminar{
    display: flex;
    margin-left: 3%;
}

.list1, .list2, .list3{
    margin-top: 3%;
    background-color: white;
    box-shadow: 0px 0px 10px #A1A2A5;
    border-radius: 65px;
    height: 420px;
    width: 380px;
}

#list3{
    border-radius: 65px;
}

#list1, #list2, #list3{
    height: 93%;
    width: 90%;
    margin-top: 4%;
    margin-left: 5%;
}

.list2, .list3{
    margin-left: 8%;
}

#kanan{
    margin-left: 3%;
}

#kalfil{
    font-family: "Font Digital";
}

#kalender{
    text-align: center;
    justify-content: center;
    display: flex;
}

.kolom1{
    height: 30px;
}

.kolom{
    height: 60px;
}

.kolom2{
    height: 3px;
    background-color: #A1A2A5;
}

.bulan{
    color: #A1A2A5;
    font-size: 6vh;
    cursor: pointer;
}

.bulan .tabpopup{
    display: none;
    position: absolute;
    border: 3px solid #A1A2A5;
    border-radius: 30px;
    width: 450px;
    height: 350px;
    padding-bottom: 30px;
    margin-top: -90px;
    margin-left: 230px;
    background-color: white;
}

#judultab{
    font-size: 25px;
    color: #FCC453;
}

.bulantab{
    font-size: 20px;
    color: #A1A2A5;
}

#tabokt{
    color:  #FCC453;
    border-radius: 20px;
    border: 3px solid #FCC453;
    width: 80px;
    height: 50px;
    margin-top: -2px;
}

.bulan .tabpopup::after{
    content: "";
    position: absolute;
}

#hari{
    color: #A1A2A5;
    font-size: 3vh;
}

.blue{
    background-color: #99BCF8;
    border: 1.5px solid white;
    font-size: 3.5vh;
    color: white;
    width: 120px;
}

.orange{
    background-color: #FFD683;
    border: 1.5px solid white;
    font-size: 3.5vh;
    color: white;
    width: 120px;
}

.purple{
    background-color: #ECB2F7;
    border: 1.5px solid white;
    font-size: 3.5vh;
    color: white;
    width: 120px;
}

.red{
    background-color: #F9A083;
    border: 1.5px solid white;
    font-size: 3.5vh;
    color: white;
    width: 120px;
}

.redpopup{
    background-color: #F9A083;
    border: 1.5px solid white;
    font-size: 3.5vh;
    color: white;
    width: 120px;
    height: 50px;
    cursor: pointer;
}

.redpopup .popuptext{
    display: none;
    position: absolute;
    background-color: #A1A2A5;
    color: #FFFF;
    width: 240px;
    height: 150px;
    border-radius: 15px;
    margin-left: -65px;
    font-size: 12px;
    margin-top: -170px;
    text-align: left;
    padding-left: 10px;
}

#judulpopup{
    font-size: 14px;
}

#isipopup{
    font-size: 12px;
    margin-top: -10px;
}

#buttonpopup{
    background-color: #FCC453;
    color: white;
    border: none;
    font-family: "Font Digital";
    width: 150px;
    height: 30px;
    border-radius: 20px;
    margin-top: -10px;
    outline: none;
}

.redpopup .popuptext::after{
    content: " ";
    position: absolute;
}

.green{
    background-color: #A5F1BC;
    border: 1.5px solid white;
    font-size: 3.5vh;
    color: white;
    width: 120px;
}

.grey{
    background-color: #CACED6;
    border: 1.5px solid white;
    font-size: 3.5vh;
    color: white;
    width: 120px;
}

.kosong{
    color: #A1A2A5;
    border: 1.5px solid white;
    font-size: 3.5vh;
    width: 120px;
}

#garis{
    width: 10%;
    height: 10%;
    margin-left: 5%;
    margin-top: 6%;
}

.hr{
    margin-top: -10%;
    width: 150%;
}

#hr{
    margin-top: -0.1%;
    width: 150%;
} 

#footergambar{
    margin-top: 20px;
    background-image: url('Footer.png');
    height: 100%;
    display: flex;
}

.kasus{
    margin-left: 8%;
    background: transparent;
    border: 5px solid white;
    border-radius: 40px;
    width: 30%;
    height: 380px;
    margin-top: 2%;
    margin-bottom: 2%;
}

#judulkasus{
    text-align: center;
    color: white;
}

.info12,.info34{
    display: flex;
}

.info1,.info2,.info3,.info4{
    border: 5px solid white;
    border-radius: 20px;
    width: 35%;
    margin-left: 8%;
}

.info1{
    background-color: #70DB7A;;
}

.info2{
    background-color: #FFD173;
}

.info3,.info4{
    margin-top: 3%;
}

.info3{
    background-color: #FCA453;
}

.info4{
    background-color: #F36F42;
}

#info1,#info2,#info3,#info4{
    color: white;
    font-size: 2.3vh;
    text-align: center;
}

.total{
    display: flex;
    margin-left: -17%;
}

#total1, #total2{
    text-align: center;
    font-size: 3vh;
}

#total1{
    color: white;
    margin-left: 26%;
}

#total2{
    margin-left: 5px;
    color: #FCC453;
}

#update{
    color: white;
    text-align: center;
    margin-top: -2%;
}

.info{
    margin-left: 5%;
}

#judulinfo{
    color:#FCC453;
    font-family: "poppins bold";
    font-size: 8vh;
}

.awaljudulinfo,.isiinfo,.awaljudulinfo1,.isiinfo1{
    color: white;
}

.awaljudulinfo,.awaljudulinfo1{
    font-size: 20px;
}

.awaljudulinfo{
    margin-top: -6%;
}

.isiinfo,.isiinfo1{
    font-size: 17px;
    margin-top: -3%;
    width: 70%;
}

.hrinfo{
    width: 740px;
    margin-left: 0.001%;
}

.footer2{
    background-color: #5167aa;
    display: flex;
    height: 100%;
}

.tentangkami,.sosialmedia,.populer,.terbaru,.kontakkami{
    color: white;
}

.tentangkami,.sosialmedia,.populer,.terbaru{
    margin-left: 5%;
}

.judulfooter{
    font-size: 15px;
}

.hrfooter2{
    margin-top: -5%;
    width: 250px;
}

.hrfooter3{
    margin-top: -5%;
    width: 250px;
    margin-bottom: -5%;
}

.emailtk,.telptk,.lokasitk{
    display: flex;
}

#emailtk,#telptk,#lokasitk{
    height: 25px;
    width: 25px;
}

#pemailtk,#ptelptk,#plokasitk,#pterbarutk{
    margin-top: -0.1px;
}

#pemailtk,#ptelptk,#plokasitk{
    margin-left: 5%;
    font-size: 12px;
}

#ppopulertk{
    font-size: 12px;
    margin-top: 18px;
}

#pterbarutk{
    font-size: 12px;
}

.sosmedfooter{
    display: flex;
}

#imgsosmedfooterawal{
    width: 27px;
    height: 27px;
}

.imgsosmedfooter{
    margin-left: 10px;
    width: 27px;
    height: 27px;
}

#inputfooter{
    font-family: "Font Digital";
    padding-left: 20px;
    color:#CACED6;
    outline: none;
    border: none;
    border-radius: 50px;
    width: 225px;
    height: 25px;
}

.lastfooter{
    background-color: #4E85E3;
    width: 100%;
}

.p2 a{
    text-decoration: none;
    color: #A1A2A5;
}

/* ipad */
@media screen and (max-width:768px){
    body{
        width:100%;
    }
    /* #logo{
        width: 40%;
        margin-left: -122%;
        display: none;
    }
    nav{
        display: none;
    }
    nav ul{
        margin-top: -1px;
        width: 10%;
        margin-left: -125%;
        height: 20%;
        background-color: #A1A2A5;
        display: none;
    }
    
    nav ul li a{
        font-size: 12px;
        display: none;
    }
    
    .btn {
        font-size: 11px;
        padding: 2px;
        display: none;
    } */

    .gambar{
        display: none;
    }

    .gambar2{
        display: block;
        background-size: cover;
    }
    #welkam{
        margin-left: -3%;
        margin-top: 5%;
    }
    #judul{
        width: 40%;
        margin-top: -8%;
    }
    #teks{
        margin-left: -5px;
        width: 40%;
        font-size: 20px;
    }
    #btn{
        width: 220px;
        height: 50px;
        font-size: 20px;
    }
    #kalender{
        margin-top: -5%;
        margin-left: 2%;
    }
    .bulan{
        font-size: 20px;
    }
    #hari{
        font-size: 14px;
    }
    .blue,.orange,.purple,.red,.green,.grey,.kosong,.redpopup{
        font-size: 20px;
    }
    .bulan .tabpopup{
        margin-left: 20%;
    }
    #seminar{
        height: 300px;
        margin-top: -6%;
        justify-content: center;
    }
    .list2{
        display: none;
    }
    .list1,.list3{
        height: 265px;
        width: 265px;
        border-radius: 30px;
    }
    #list3{
        border-radius: 25px;
    }
    .list2,.list3{
        margin-left: 3%;
    }
    #kanan{
        width: 50px;
        height: 50px;
    }
    #kiri{
        width: 50px;
        height: 50px;
    }
    .kasus{
        display: none;
    }
    #judulinfo{
        font-size: 30px;
    }
    .awaljudulinfo{
        margin-top: -2%;
    }
    .hrinfo{
        width: 97%;
    }
    .terbaru{
        display: none;
    }
    .populer{
        display: none;
    }
    .hrfooterh{
        display: none;
    }
    .footer2{
        justify-content: center;
        height: 180px;
        margin-left: -10%;
    }
}

/*patokan device ukuran 360 x 560*/
@media screen and (max-width:576px){
    body{
        width: 95%;
    }
    #logo {
        margin-top: 5px;
        width: 50%;
        margin-left: 1%;
    }

    .toogle {
        margin-top: 13px;
        margin-right: -10%;
        width: 30%;
    }
    
    .toogle span {
        display: block;
    }

    nav ul{
        right: 0px;
        position: absolute;
        flex-direction: column;
        background-color: #4E85E3;
        top: 0;
        height: 50vh;
        width: 50%;
        margin-right: -3%;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 12%;
        z-index: -1;
        padding-bottom: 80%;
        transform: translateX(100%);
        transition: all 1s;
    }

    .slide {
        transform: translateX(0);
        transition: all 1s;
    }
    
    nav ul li a{
        font-size: 14px; 
    }
    
    .btn {
        height: 5vh;
        width: 18vh;
        font-size: 13px;
        padding: 2px;
        background-color: #FCC453;
        font-family: "Font Digital";
    }

    .gambar,.gambar2{
        display: none;
    }
    .gambar3{
        display: block;
        width: 106.5%;
    }
    #welkam{
        margin-left: -8%;
    }
    #judul{
        font-size: 25px;
        width: 40%;
        margin-top: -20%;
    }
    #teks{
        margin-left: -5px;
        width: 45%;
        font-size: 12px;
    }
    #divkalender{
        width: 106%;
    }
    #judul1{
        font-size: 20px;
    }
    .isi{
        font-size: 12px;
        margin-top: -3%;
    }
    #kalender{
        margin-top: -5%;
    }
    .bulan{
        font-size: 14px;
    }
    #hari{
        font-size: 12px;
    }
    .blue,.orange,.purple,.red,.green,.grey,.kosong,.redpopup{
        font-size: 12px;
        width: 100%;
        height: 100%;
    }
    .bulan .tabpopup{
        margin-left: 20%;
    }
    #btn{
        width: 40%;
        font-size: 12px;
        height: 30px;
    }
    .redpopup .popuptext{
        width: 155px;
        height: 110px;
        margin-top: -35%;
    }
    
    #judulpopup{
        font-size: 10px;
    }
    
    #isipopup{
        font-size: 8px;
    }
    
    #buttonpopup{
        width: 90px;
        height: 20px;
        font-size: 10px;
    }
    .kolom2{
        height: 1px;
    }
    .bulan .tabpopup{
        width: 200px;
        height: 150px;
        margin-top: -50px;
        margin-left: 10%;
    }
    
    #judultab{
        font-size: 14px;
    }
    
    .bulantab{
        font-size: 12px;
    }
    
    #tabokt{
        width: 40px;
        height: 20px;
    }
    #seminar{
        width: 106.5%;
        height: 145px;
        margin-top: -6%;
        justify-content: center;
    }
    .list2{
        display: none;
    }
    .list1,.list3{
        height: 130px;
        width: 130px;
        border-radius: 20px;
    }
    #list3{
        border-radius: 20px;
    }
    .list2,.list3{
        margin-left: 3%;
    }
    #kanan{
        width: 20px;
        height: 20px;
    }
    #kiri{
        width: 20px;
        height: 20px;
    }
    #footergambar{
        width: 106.5%;
    }
    #judulinfo{
        font-size: 20px;
    }
    .awaljudulinfo{
        margin-top: -2%;
    }
    .awaljudulinfo,.awaljudulinfo1{
        font-size: 14px;
    }
    .isiinfo,.isiinfo1{
        font-size: 10px;
    }
    .hrinfo{
        width: 97%;
    }
    .footer2{
        width: 116.5%;
    }
    .judulfooter{
        font-size: 13px;
        text-align: center;
    }
    #emailtk, #telptk, #lokasitk{
        width: 20px;
        height: 20px;
    }
    #pemailtk, #ptelptk, #plokasitk {
        font-size: 11px;
    }
    #imgsosmedfooterawal, .imgsosmedfooter {
        width: 20px;
        height: 20px;
    }
    .lastfooter {
        padding-right: 6.5%;
    }
    .sosialmedia{
        margin-left: -12%;
    }
    .hrfooter2{
        width: 170px;
    }
    .tentangkami{
        width: 50%;
        margin-right: 15%;
    }
    #inputfooter{
        width: 100px;
        font-size: 8px;
        text-align: center;
    }
    #hrfooter22{
        width: 120px;
    }
}