@font-face {
    font-family: "Font Digital";
    src: url("poppins.regular.ttf")
    }

html,body,h1{
    margin: 0;
    padding: 0;
}

#all{
    position: relative;
}

#daftar{
    display: flex;
    position: fixed;
}

#gambar{
    width: 40%;
}

.gambar{
    width: 90%;
}

#form{
    width: 60%;
}

h1{
    font-family:"Font Digital";
    font-size: 40px;
    color:  #FCC453;
    margin-top: 12%;
    margin-left: 38%;
}

.inputan {
    width: 500px;
    height: 35px;
    margin-left: 14%;
    border-radius: 10px;
    border: 3px solid #A1A2A5;
    font-family: "Font Digital";
    font-size: 15px;
    padding-left: 10px;
}

.inputan:focus{
    border: 3px solid #4E85E3;
    border-radius: 10px;
    outline: none;
}

#awalinputan{
    margin-top: 15px;
}

#nextinputan1{
    margin-top: 8px;
}

#nextinputan2{
    margin-top: 8px;
}

#tombol {
    width: 519px;
    height: 40px;
    margin-top: 8px;
    margin-left: 14%;
    border-radius: 10px;
    border-width: 0px;
    background-color: #4E85E3;
    color: #ffffff;
    font-size: 20px;
    outline: none;
    font-family: "Font DIgital";
}

#tombol:hover{
    background-color: #FCC453;
}

#medsos{
    font-family: "Font Digital";
    font-size: 16px;
    color: #A1A2A5;
    margin-left: 20%;
}

#medsosgambar1{
    display: flex;
    margin-left: 30%;
}

.medsosgambar{
    width: 55px;
    height: 55px;
    margin-left: 10px;
}

.googleplus{
    width: 85px;
    height: 85px;
    margin-top: -15px;
    margin-left: 10px;
}

#tologin{
    display: flex;
    margin-left: 29%;
    margin-top: -2.3%;
    font-family: "Font Digital";
}

#punya{
    color: #A1A2A5;
    font-size: 16px;
}

#masuk{
    color:  #4E85E3;
    margin-left: 5px;
    font-size: 16px;
}

a{
    text-decoration: none;
}