@font-face {
    font-family: "poppins";
    src: url(Poppins-Regular.ttf);
}

@font-face {
    font-family: "poppins bold";
    src: url(Poppins-Bold.ttf);
}

body {
    margin: 0;
    padding: 0;
    font-family: "poppins";
    background-color: white;
}

#navbar{
    position: fixed;
    width: 100%;
    height: 11%;
    background-color: #4E85E3;
    box-shadow: 0px 0px 6px 0px black;
}

#logo{
    width: 20%;
    padding-top: 10px;
    padding-left: 10px;
}

#navbar1{
    display: flex;
    width: 100%;
    padding-left: 20px;
}

a{
    text-decoration: none;
    font-family: "poppins";
    font-size: 2.5vh;
    color: #FFFF;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 30px;
    margin-top: -3.4%;
}

a:hover {
    color: #2756a8;
}

#beranda {
    margin-left: 57%;
}

#foto_profil {
    margin-top: -4.2%;
}

.foto_profil{
    width: 70%;
}

#ism {
    font-size: 3.3vh;
    color: #FCC453;
    font-family: "poppins bold";
    margin-top: -3.5%;
    margin-left: -37px;
}

.mainx {
    position: absolute;
    display: flex;
    margin-bottom: 30px;
}

.utama {
    background-color: white;
    box-shadow: 0px 0px 5px 0px grey;
    border-radius: 20px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 110px;
    padding-top: 50px;
    width: 800px;
    margin-left: 60px;
}

.sampul {
    position: absolute;
    margin-left: -30px;
    margin-top: -50px;
    width: 861px;
}

.bgpp {
    display: flex;
    position: relative;
}

.fp {
    width: 150px;
    height: 150px;
    margin-left: 30px;
}

.bio {
    color: white;
    font-size: 18px;
    padding-left: 40px;
}

#nama {
    font-size: 40px;
    color: white;
    font-family: "poppins bold";
    margin-bottom: -20px;
    padding-bottom: -20px;
}

.head {
    display: flex;
    font-size: 14px;
    font-family: "poppins bold";
    color: #FCC453;
    padding-top: 45px;
}

.edit {
    width: 35px;
    height: 35px;
    margin-top: 40px;
    margin-left: 580px;
}

#garis {
    border: 1px solid rgb(216, 216, 216);
    padding-top: -20px;
    margin-top: -20px;
}

.info {
    display: flex;
    padding: 20px;
    color: rgb(161, 161, 161);
    font-size: 15px;
    padding-top: -10px;
    margin-top: -10px;
}

.left {
    padding-right: 80px;
}

hr {
    border: 1px solid rgb(216, 216, 216);
    margin-top: -12px;
    padding-top: -12px;
}

.menux {
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px grey;
    background-color: white;
    width: 300px;
    margin-left: 75px;
    margin-top: 110px;
}

#first {
    margin-top: 30px;
}

.menu {
    border-radius: 10px;
    border: 1.5px solid rgb(216, 216, 216);
    background-color: transparent;
    font-family: "poppins";
    font-size: 16px;
    color: rgb(161, 161, 161);
    width: 250px;
    margin-left: 25px;
    margin-top: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.menu:hover {
    border: 1px solid #4E85E3;
    box-shadow: 0px 0px 3.5px #4375cc;
    color: #2756a8;
}

.menu:focus {
    outline: none;
    background-color: #98BEFF;
    color: #2756a8;
}

.review {
    background-color: #FCC453;
    border-radius: 20px;
    font-size: 17px;
    border: none;
    color: white;
    width: 200px;
    height: 40px;
    margin-left: 25px;
    margin-top: 40px;
    font-family: "poppins";
}

.review:hover {
    background-color: #98BEFF;
}

.review:focus {
    background-color: #2756a8;
    outline: none;
}