@font-face {
    font-family: "Font Digital";
    src: url(Poppins-Regular.ttf);
}

@font-face {
    font-family: "poppins bold";
    src: url(Poppins-Bold.ttf);
}

body {
    margin: 0;
    padding: 0;
    font-family: "Font Digital";
}

nav{
    display: flex;
    background-color: #4E85E3;
    justify-content: space-around;
    box-shadow: 0px 0px 6px 0px black;
    position: fixed;
    width: 100%;
}

#logo{
    width: 80%;
    padding: 5px;
    margin-left: -42%;
    margin-top: 5px;
}

nav ul{
    display: flex;
    margin-top: 18px;
    list-style: none;
    justify-content: space-between;
    width: 40%;
    margin-right: -30%;
}

nav ul li a{
    color: white;
    text-decoration: none;
}

nav ul li a:hover{
    color: #2756a8;
}

.btn {
    outline: none;
    border-width: 0px;
    font-family: "Font Digital";
    color: white;
    background-color: #FCC453;
    width: 118%;
    height: 5.5vh;
    border-radius: 50px;
    font-size: 2vh;
    padding: 5px;
    margin-top: -5px;
}

.btn:hover{
    background-color: #98BEFF;
}

.btn:focus {
    background-color: #275bb6;
}

.toogle {
    display: flex;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    margin-top: 20px;
}

#st{
    transform-origin: 0 0;
} 

#rd {
    transform-origin: 0 100%;
}

.toogle span {
    z-index: -1;
    display: none;
    width: 28px;
    height: 3px;
    border-radius: 15px;
    background-color: white;
    transition: all 0.5s;
}

#st, #rd{
    transform-origin : 0 0;
}

#juduljenjang{
    font-family: "poppins bold";
    color: #FCC453;
    margin-left: 2%;
    font-size: 7vh;
}

.isifil{
    display: flex;
}

.isijenjang{
    margin-left: 7%;
    width:65%;
    margin-top: -2%;
}

.isijenjang1,.isijenjang2,.isijenjang3{
    box-shadow: 0px 0px 5px #A1A2A5;
    display: flex;
    border-radius: 25px;
}

.isijenjang2,.isijenjang3{
    margin-top: 3%;
}

.isijenjang1:hover,.isijenjang2:hover,.isijenjang3:hover{
    box-shadow: 0px 0px 5px  #4E85E3;
    border: 1px solid #4E85E3;
}

.logojenjang{
    margin-left: 20px;
    margin-top: 8%;
    height: 80%;
    margin-bottom: -20px;
}

.bacaanisijenjang{
    margin-top: -5px;
    width: 65%;
}

.judulisijenjang{
    color: #4E85E3;
    font-size: 18px;
    margin-bottom: -3%;
}

.isiisijenjang{
    color: #A1A2A5;
}

.tgljenjang{
    text-align: center;
    width: 20%;
    margin-top: -5px;
}

#bulantahun{
    color: #A1A2A5;
}

#jenjangnya{
    display: flex;
    margin-top: -15px;
}

.jenjangnyaoren{
    background-color: #FCC453;
    height: 35px;
    width: 35px;
    border-radius: 30px;
}

#jenjangnya1{
    margin-left: 28%;
}

#jenjangnya12,#jenjangnya23,#jenjangnya34{
    margin-left: 5%;
}

#jenjangnya12{
    margin-left: 17%;
}

.jenjangnyaungu,.jenjangnyamerah,.jenjangnyatosca{
    height: 35px;
    width: 35px;
    border-radius: 30px;
}

.jenjangnyatosca{
    background-color: #A5F1BC;
}

.jenjangnyaungu{
    background-color: #ECB2F7;
}

.jenjangnyamerah{
    background-color: #FC9674;
}

#jenjangnya2{
    margin-left: 5%;
}

#jenjangnya3{
    margin-left: 5%;
}

.selengkapnya{
    background-color: #FCC453;
    color: white;
    font-family: "Font Digital";
    border: none;
    border-radius: 20px;
    width: 120px;
    height: 30px;
    margin-top: 5%;
    margin-left: 8px;
    outline: none;
}

.selengkapnya:hover{
    background-color: #98BEFF;
}

.selengkapnya:focus {
    background-color: #275bb6;
}

#tgljenjang2{
    margin-left: 20px;
}

#tgljenjang3{
    margin-left: 30px;
}

#filter{
    margin-left: 8%;
    margin-top: -2%;
}

#pilfil{
    display: flex;
}

#fil{
    color: #4E85E3;
    margin-left: 35%;
}

.judpil{
    color: #A1A2A5;
    margin-left: 30%;
}

.pil,.pil1,.p1,.p2{
    color: #A1A2A5;
}

.pil1,.p1{
    margin-top: -1%;
}

.pil,.p2{
    margin-top: -15%;
}

.pil1,.pil{
    margin-left: 20%;
}

.p1,.p2{
    width: 150%;
}

.pil:active,.pil1:active,.p1:active,.p2:active{
    color: #4E85E3;
}

#garis{
    width: 10%;
    height: 10%;
    margin-left: 5%;
    margin-top: 6%;
}

.hr{
    margin-top: -10%;
    width: 150%;
}

#hr{
    margin-top: -0.1%;
    width: 150%;
} 

/* Device handphone 360 x 560 */
@media screen and (max-width:576px){

    #logo {
        margin-top: 5px;
        width: 50%;
        margin-left: -1%;
    }

    .toogle {
        margin-top: 15px;
        margin-right: 12px;
    }
    
    .toogle span {
        display: block;
    }

    nav ul{
        right: 0px;
        position: absolute;
        flex-direction: column;
        background-color: #4E85E3;
        top: 0;
        height: 50vh;
        width: 65%;
        margin-right: -3%;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 10%;
        z-index: -1;
        padding-bottom: 80%;
        transform: translateX(100%);
        transition: all 1s;
    }

    .slide {
        transform: translateX(0);
        transition: all 1s;
    }
    
    #menu {
        font-size: 15px; 
    }
    
    .btn {
        height: 5.5vh;
        width: 24vh;
        font-size: 14px;
        padding: 2px;
    }
    #juduljenjang{
        font-size: 30px;
        margin-top: 10%;
        margin-left: 5%;
    }
    .logojenjang{
        width: 40%;
        height: 40%;
        margin-left: 30%;
        margin-top: 3%;
    }
    .isijenjang1,.isijenjang2,.isijenjang3{
        display: block;
        margin-left: -5%;
        width: 100%;
        height: 34%;
    }
    .judpil{
        font-size: 14px;
    }
    .p1, .p2{
        font-size: 12px;
    }
    .hr,#hr{
        width: 120%;
        margin-left: 20%;
    }
    #filter{
        margin-left: -5%;
    }
    .isifil{
        margin-top: -5%;
    }
    .judulisijenjang{
        width: 150%;
        font-size: 14px;
        text-align: center;
        margin-top: 15%;
    }
    .isiisijenjang{
        font-size: 12px;
        width: 150%;
        text-align: center;
        margin-top: 3%;
    }
    .bacaanisijenjang{
        margin-left: 1%;
    }
    #bulantahun{
        font-size: 12px;
        width: 120%;
        margin-left: 190%;
        color: #4E85E3;
    }
    .jenjangnyaungu,.jenjangnyatosca,.jenjangnyaoren,.jenjangnyamerah{
        display: none;
    }
    .selengkapnya{
        font-size: 12px;
        height: 25px;
        margin-left: 120%;
    }
    #bulantahun2{
        margin-left: 55%;
    }
    #bulantahun3{
        margin-left: 70%;
    }
    .bulantahun2{
        margin-left: -00%;
    }
    .isijenjang2{
        height: 36%;
    }
    .isijenjang2 #bulantahun, .isijenjang3 #bulantahun{
        margin-left: 140%;
    }
}